<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- コンテナ運用を前提として標準出力に全て出力-->
  <targets>
    <target name="logconsole" xsi:type="Console" />
  </targets>
    
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />

    <!--WriteToを指定しないものはスキップ対象-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
  </rules>
</nlog>